@using Microsoft.AspNetCore.Identity
@using WorkingMVC.Models.Users
@using WorkingMVC.Data.Entities.Idenity 
@using WorkingMVC.Data.Entities 

@model ChangeRoleViewModel
@{
    ViewData["Title"] = "Зміна ролей";
}

<h2>Зміна ролей для користувача @Model.UserEmail</h2>

<form asp-action="EditRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />

    <div class="form-group">

        @* Тип role тепер буде RoleEntity, що дозволяє отримати доступ до властивості Name *@
        @foreach (var role in Model.AllRoles)
        {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="roles" value="@role.Name"
                            @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                    <label class="form-check-label">@role.Name</label>
                </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3">Зберегти</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Назад</a>
</form>